<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>요리</title>
    <link rel="stylesheet" th:href="@{/css/category/category.css}">
    
</head>

<body class="with-toolbar">

<div th:replace="~{common/header :: headerFragment}"></div>

<main class="content">
  <section>
    <h2 class="page-title">요리</h2>
    <nav class="main-category">
  <a class="" href="category_all.html">전체</a>
  <a class="active" href="category_food.html">요리</a>
  <a href="#">수공예</a>
  <a href="#">미술</a>
  <a href="#">뷰티</a>
  <a href="#">액티비티</a>
  <a href="#">음악</a>
</nav>
    <nav class="sub-category">
  <a class="active" href="category_food.html">디저트</a>
  <a href="#">제빵</a>
  <a href="#">커피 · 차</a>
  <a href="#">기타</a>
</nav>


<div class="toolbar">
  <details class="sort-dropdown">
    <summary>신규순</summary>

    <div class="sort-menu">
      <a href="#">신규순</a>
      <a href="#">추천순</a>
      <a href="#">낮은 가격순</a>
      <a href="#">높은 가격순</a>
    </div>
  </details>

  <a class="filter-link" href="category_filter.html">
    필터
    <span class="filter-icon">
      <i></i>
      <i></i>
      <i></i>
    </span>
  </a>
</div>

    <section class="class-grid">
      <article class="class-card">
  <img src="../images/class/dessert1.jpg" alt="">
  <div class="class-meta">송파구 송파동</div>
  <div class="class-title">[송파] 꼬북~~ 귀여운 토마토,메론 거북이 쿠키 만들어보기!</div>
  <div class="class-price"><span class="sale">8%</span><span class="old">51,000</span><span class="now">48,600</span></div>
</article>
<article class="class-card">
  <img src="../images/class/dessert4.jpg" alt="">
  <div class="class-meta">송파구 송파동</div>
  <div class="class-title">[송파] 키티 스노우볼 케이크 꾸미기 기념일데이트 추천</div>
  <div class="class-price"><span class="sale">8%</span><span class="old">51,000</span><span class="now">48,600</span></div>
</article>
<article class="class-card">
  <img src="../images/class/dessert3.jpg" alt="">
  <div class="class-meta">송파구 송파동</div>
  <div class="class-title">[송파] 키티 스노우볼 케이크 꾸미기 기념일데이트 추천</div>
  <div class="class-price"><span class="sale">8%</span><span class="old">51,000</span><span class="now">48,600</span></div>
</article>
<article class="class-card">
  <img src="../images/class/dessert2.jpg" alt="">
  <div class="class-meta">강남구 논현동</div>
  <div class="class-title">[강남] NO 밀가루 버터떡! 하트 버터떡 클래스</div>
  <div class="class-price"><span class="sale">8%</span><span class="old">51,000</span><span class="now">48,600</span></div>
</article>
<article class="class-card">
  <img src="../images/class/dessert1.jpg" alt="">
  <div class="class-meta">마포구 망원동</div>
  <div class="class-title">[망원] 발렌타인 하트휘낭시에 만들기</div>
  <div class="class-price"><span class="sale">8%</span><span class="old">51,000</span><span class="now">48,600</span></div>
</article>
<article class="class-card">
  <img src="../images/class/dessert4.jpg" alt="">
  <div class="class-meta">송파구 송파동</div>
  <div class="class-title">[송파] 감성 색조 메이크업 클래스</div>
  <div class="class-price"><span class="sale">8%</span><span class="old">51,000</span><span class="now">48,600</span></div>
</article>
<article class="class-card">
  <img src="../images/class/dessert2.jpg" alt="">
  <div class="class-meta">송파구 송파동</div>
  <div class="class-title">[송파] 캐릭터 케이크 만들기</div>
  <div class="class-price"><span class="sale">8%</span><span class="old">51,000</span><span class="now">48,600</span></div>
</article>
    </section>
  </section>
</main>

<div th:replace="~{common/footer :: footerFragment}"></div>

</body>
</html>